@model Order 
 @{
    Layout="_UserLayout";
 }
 <div class="confirmation-container">
        <div class="thank-you-message">
            <h1><strong>Cảm ơn bạn đã mua hàng của chúng tôi!</strong></h1>
            <p><strong>Đơn hàng của bạn đã được đặt thành công.</strong></p>
        </div>

        <div class="order-info">
            <h2>Thông tin đơn hàng</h2>
            <p><strong>Mã đơn hàng:</strong>&nbsp;@Model.OrderId</p>
            <p><strong>Tên khách hàng:</strong>&nbsp;@Model.User.UserName</p>
            <p><strong>Tổng tiền:</strong>&nbsp;@Model.Total</p>
            <p><strong>Phí vận chuyển:</strong>&nbsp;Miễn phí</p>
            <p><strong>Phương thức thanh toán:</strong>&nbsp;@Model.Payment.Paymentname</p>
        </div>

        <div class="shipping-address">
            <h2>Địa chỉ giao hàng</h2>
            <p>@Model.User.UserName</p>
            <p>@Model.Shippingaddress</p>
        </div>
        <div class="order-summary">
            <h2>Chi tiết hóa đơn</h2>
            <table>
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Kiểu dáng</th>
                        <th>Giá</th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var product in Model.OrderDetails)
                {   string variant_info="";
                                          if(!string.IsNullOrEmpty(product.Variant?.Size?.Sizename))
                                          {
                                             variant_info+="Kích thước: "+product.Variant?.Size?.Sizename+"\n";
                                          }                                          
                                          if(!string.IsNullOrEmpty(product.Variant?.Color?.Colorname))
                                          {
                                             variant_info+="Màu sắc: "+product.Variant?.Color?.Colorname+"\n";
                                          }
                                          if(!string.IsNullOrEmpty(product.Variant?.Version?.Versionname))
                                          {
                                             variant_info+="Phiên bản: "+product.Variant?.Version?.Versionname+"\n";
                                          }
                                          if(!string.IsNullOrEmpty(product.Variant?.Mirror?.Mirrorname))
                                          {
                                             variant_info+="Loại kính: "+product.Variant?.Mirror?.Mirrorname+"\n";
                                          }
                    <tr>
                        <td>@product.Product.ProductName</td>
                        <td>@product.Quantity</td>
                        <td>@variant_info</td>
                        <td>@(Convert.ToInt32(product.Product.Price)*product.Quantity)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
 </div>
