@{
    Layout = "_UserLayout";
    var banners=ViewBag.banners;
    var products = ViewBag.products as List<Product>; 
    var categories = ViewBag.categories as List<Category>;
    var brands=ViewBag.brands;
    var count_reviews=ViewBag.count_reviews as Dictionary<string,int>;
    string value="~/"+@products[0].Frontavatar.Substring(products[0].Frontavatar.IndexOf("wwwroot")+("wwwroot".Length+1));
    string user_id=this.ViewContext.HttpContext.Session.GetString("UserId");
    //List<string> details_img=new List<string>();
    int count_trending=0;
}        <!-- slider-area-start -->
        <div class="slider-area light-bg-s pt-60">
            <div class="container custom-conatiner">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="swiper-container slider__active pb-30">
                            <div class="slider-wrapper swiper-wrapper">
                                <div class="single-slider swiper-slide b-radius-2 slider-height-2 d-flex align-items-center" data-background="@banners[0]?.Image.Substring(banners[0]?.Image.IndexOf("wwwroot")+("wwwroot".Length+1)).Replace("\\","/")">
                                    @* <div class="slider-content slider-content-2">
                                        <h2 data-animation="fadeInLeft" data-delay="1.7s" class="pt-15 slider-title pb-5">Gaming Headset<br> Brilliant Lighting Effect</h2>
                                        <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.9s">Discount 40% On Products & Free Shipping</p>
                                        <div class="slider-bottom-btn mt-65">
                                            <a data-animation="fadeInUp" data-delay="1.15s" href="shop.html" class="st-btn-border b-radius-2">Discover now</a>
                                        </div>
                                    </div> *@
                                </div><!-- /single-slider -->
                                <div class="single-slider swiper-slide b-radius-2 slider-height-2 d-flex align-items-center" data-background="@banners[1]?.Image.Substring(banners[1]?.Image.IndexOf("wwwroot")+("wwwroot".Length+1)).Replace("\\","/")">
                                    @* <div class="slider-content slider-content-2">
                                        <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">SALE 20% OFF<br> SAMSUNG GALAXY BUDS </h2>
                                        <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.7s">Discount 30% On Products & Free Shipping</p>
                                        <div class="slider-bottom-btn mt-65">
                                            <a data-animation="fadeInUp" data-delay="1.9s" href="shop.html" class="st-btn-border b-radius-2">Discover now</a>
                                        </div>
                                    </div> *@
                                </div><!-- /single-slider -->
                                <div class="single-slider b-radius-2 swiper-slide slider-height-2 d-flex align-items-center" data-background="@banners[3]?.Image.Substring(banners[3]?.Image.IndexOf("wwwroot")+("wwwroot".Length+1)).Replace("\\","/")">
                                    @* <div class="slider-content slider-content-2">
                                        <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">Sport Edition<br> Red Special Edition</h2>
                                        <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s">Wireless Connection With TV, Computer, Laptop... </p>
                                        <div class="slider-bottom-btn mt-65">
                                            <a data-animation="fadeInUp" data-delay="1.10s" href="shop.html" class="st-btn-border b-radius-2">Discover now</a>
                                        </div>
                                    </div> *@
                                </div><!-- /single-slider -->
                                <div class="main-slider-paginations"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                  <div class="row">
                     @for(int i=0;i<4;i++)
                     {
                         <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="banner__item p-relative w-img mb-30">
                                    <div class="banner__img b-radius-2">
                                        <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=products[i].ProductName})"><img src="~/@products[i].Frontavatar.Substring(products[i].Frontavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" alt=""></a>
                                    </div>
                                    <div class="banner__content banner__content-2">
                                        <h6 style="color: #fcbe00; font-weight: bold;"><a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=products[i].ProductName})">@products[i].ProductName</a></h6>
                                        <p style="color: #fcbe00; font-weight: bold;">@products[i].Category.CategoryName</p>
                                    </div>
                                </div>
                            </div>
                      }
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider-area-end -->

        <!-- trending-product-area-start -->
        <section class="trending-product-area light-bg-s pt-25 pb-15">
            <div class="container custom-conatiner">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-30">
                            <div class="section__title section__title-2">
                                <h5 class="st-titile">Sản phẩm nổi bật</h5>
                            </div>
                            <div class="button-wrap button-wrap-2">
                                <a href="@Url.Action("Products","Products")">Xem toàn bộ sản phẩm<i class="fal fa-chevron-right"></i></a>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                @foreach(var product in products)
                { count_trending++;
                if(count_trending<=6)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                        <div class="product__item product__item-2 b-radius-2 mb-20">
                            <div class="product__thumb fix">
                                <div class="product-image w-img">
                                    <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=product.ProductName})">
                                        <img src="~/@product.Frontavatar.Substring(product.Frontavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" alt="product">
                                    </a>
                                </div>
                                @* <div class="product__offer">
                                <span class="discount">-15%</span>
                                </div> *@
                                <div class="product-action product-action-2">
                                    <a href="javascript:void(0);" class="icon-box icon-box-1" data-bs-toggle="modal" data-product-name="@product.ProductName" data-product-price="@product.Price" data-main-avatar="@product.Frontavatar" 
                                               
                                                    data-product-category="@product?.Category.CategoryName"
                                                    data-product-quantity="@product.Quantity" 
                                                    data-product-id="@product.Id"
                                                    data-count-review="@count_reviews[product.ProductName]"
                                                    data-img-0="@product.Frontavatar"
                                                    @for(int i=0;i<product.ProductImages.ToList().Count;i++)
                                                    {
                                                    string val=$"data-img-{i+1}=\"{product.ProductImages.ToList()[i].Avatar}\"";
                                                    @Html.Raw(val);
                                                    }
                                                  

                                                    data-bs-target="#productModalId">
                                        <i class="fal fa-eye"></i>
                                        <i class="fal fa-eye"></i>
                                    </a>
                                    <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=product.ProductName})"  class="icon-box icon-box-1">
                                        <i class="fal fa-layer-group"></i>
                                        <i class="fal fa-layer-group"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product__content product__content-2">
                                <h6><a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=product.ProductName})">@product.ProductName</a></h6>
                                <div class="rating mb-5 mt-10">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    </ul>
                                    <span>(01 review)</span>
                                </div>
                                <div class="price">
                                    <span>@product.Price</span>
                                </div>
                            </div>
                            <div class="product__add-cart text-center">
                                <button type="button" class="cart-btn-3 product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>
                    }
                    else{
                        break;
                    }
                    }
        
                </div>
            </div>
        </section>

        <section class="categories__area light-bg-s pt-20 pb-10">
            <div class="container custom-conatiner">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-30">
                            <div class="section__title section__title-2">
                                <h5 class="st-titile">Loại sản phẩm nổi bật</h5>
                            </div>
                     
                        </div>
                    </div>
                </div>
                <div class="row">
                @foreach(var cat in categories)
                {  
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        <div class="categories__item p-relative w-img mb-30">
                            <div class="categories__img b-radius-2">
                                <a href="@Url.Action("ProductsByCategory","Products",new{category_name=cat.CategoryName})"><img src="~/@cat.Avatar.Substring(cat.Avatar.IndexOf("wwwroot")+("wwwroot".Length+1))" alt="category"></a>
                            </div>
                            <div class="categories__content">
                                <h6 style="color:#fcbe00;font-weight: bold;font-size: 20px;"><a href="@Url.Action("ProductsByCategory","Products",new{category_name=cat.CategoryName})">@cat.CategoryName</a></h6>
                                <p style="color:#fcbe00;font-weight:bold;font-size:17px">@(products.Count(p=>p.Category.CategoryName==cat.CategoryName)) sản phẩm</p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </section>

        <section class="recomand-product-area light-bg-s pt-50 pb-15">
            <div class="container custom-conatiner">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-30">
                            <div class="section__title section__title-2">
                                <h5 class="st-titile">Sản phẩm cho bạn</h5>
                            </div>
                            <div class="button-wrap button-wrap-2">
                                <a href="@Url.Action("Products","Products")">Xem toàn bộ sản phẩm <i class="fal fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                @foreach(var product in products)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                        <div class="product__item product__item-2 b-radius-2 mb-20">
                            <div class="product__thumb fix">
                                <div class="product-image w-img">
                                    <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=product.ProductName})">
                                        <img src="~/@product.Frontavatar.Substring(product.Frontavatar.IndexOf("wwwroot")+("wwwroot".Length+1))" alt="product">
                                    </a>
                                </div>
                                <div class="product__offer">
                                <span class="discount">-15%</span>
                                </div>
                                <div class="product-action product-action-2">
                                    <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-product-name="@product.ProductName" data-product-price="@product.Price" data-main-avatar="@product.Frontavatar" 
                                                    data-product-category="@product?.Category.CategoryName"
                                                    data-product-quantity="@product.Quantity"  
                                                    data-product-id="@product.Id"
                                                    data-count-review="@count_reviews[product.ProductName]"
                                                    data-img-0="@product.Frontavatar"
                                                   @for(int i=0;i<product.ProductImages.ToList().Count;i++)
                                                    {
                                                    string val=$"data-img-{i+1}=\"{product.ProductImages.ToList()[i].Avatar}\"";
                                                    @Html.Raw(val);
                                                    }
                                                    data-bs-target="#productModalId">
                                        <i class="fal fa-eye"></i>
                                        <i class="fal fa-eye"></i>
                                    </a>
                        
                                    <a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=product.ProductName})"  class="icon-box icon-box-1">
                                        <i class="fal fa-layer-group"></i>
                                        <i class="fal fa-layer-group"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product__content product__content-2">
                                <h6><a href="@Url.Action("ProductDetail","ProductDetail",new{product_name=product.ProductName})">@product.ProductName</a></h6>
                                <div class="rating mb-5 mt-10">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    </ul>
                                </div>
                                <div class="price">
                                    <span>@product.Price</span>
                                </div>
                            </div>
                            <div class="product__add-cart text-center">
                                <button type="button" class="cart-btn-3 product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                               Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>
                    }
            
                </div>
            </div>
        </section>
   
        <section class="brand-area light-bg-s pb-60">
            <div class="container custom-conatiner">
                <div class="brand-slider brand-slider-2 swiper-container pt-35 pb-30">
                    <div class="swiper-wrapper">
                    @foreach(var brand in brands)
                        {
                        <div class="brand-item w-img swiper-slide">
                        <a href="#"><img src="~/@brand?.Avatar.Substring(brand.Avatar.IndexOf("wwwroot")+("wwwroot".Length+1))" accesskey=""alt="brand"></a>
                        </div>
                        }
                    
                    </div>
                </div>
            </div>
        </section>
        <!-- brand-area-end -->

        <!-- features-2__area-start -->
        <section class="features-2__area d-ddark-bg">
            <div class="container custom-conatiner">
                <div class="features-2__lists pt-25 pb-25">
                    <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 gx-0">
                        <div class="col">
                            <div class="features-2__item">
                                <div class="features-2__icon mr-20">
                                    <i class="fal fa-truck"></i>
                                </div>
                                <div class="features-2__content">
                                    <h6>FREE DELIVERY</h6>
                                    <p>For all orders over $120</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="features-2__item">
                                <div class="features-2__icon mr-20">
                                    <i class="fal fa-money-check"></i>
                                </div>
                                <div class="features-2__content">
                                    <h6>SAFE PAYMENT</h6>
                                    <p>100% secure payment</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="features-2__item">
                                <div class="features-2__icon mr-20">
                                    <i class="fal fa-comments-alt"></i>
                                </div>
                                <div class="features-2__content">
                                    <h6>24/7 HELP CENTER</h6>
                                    <p>Delicated 24/7 support</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="features-2__item">
                                <div class="features-2__icon mr-20">
                                    <i class="fal fa-hand-holding-usd"></i>
                                </div>
                                <div class="features-2__content">
                                    <h6>SHOP WITH CONFIDENCE</h6>
                                    <p>If goods have problems</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="features-2__item">
                                <div class="features-2__icon mr-20">
                                    <i class="fad fa-user-headset"></i>
                                </div>
                                <div class="features-2__content">
                                    <h6>FRIENDLY SERVICES</h6>
                                    <p>30 day satisfaction guarantee</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- features-2__area-end -->
        

    <!-- shop modal start -->
  
        <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered product__modal" role="document">
                <div class="modal-content">
                    <div class="product__modal-wrapper p-relative">
                        <div class="product__modal-close p-absolute">
                            <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                        </div>
                        <div class="product__modal-inner">
                            <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-box">
                                    <div class="tab-content" id="modalTabContent">
                                      <div class="tab-pane fade show active" id="nav0" role="tabpanel" aria-labelledby="nav0-tab">
                                            <div class="product__modal-img w-img">
                                                <div id="sub-img-0"></div>
                                                @* <img src="assets/img/quick-view/quick-view-1.jpg" alt=""> *@
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <div id="sub-img-1"></div>
                                                @* <img src="assets/img/quick-view/quick-view-1.jpg" alt=""> *@
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">
                                            <div class="product__modal-img w-img">
                                             <div id="sub-img-2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
                                            <div class="product__modal-img w-img">
                                                   <div id="sub-img-3">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav4" role="tabpanel" aria-labelledby="nav4-tab">
                                            <div class="product__modal-img w-img">
                                                   <div id="sub-img-4">
                                                </div>
                                            </div>
                                        </div>
                                    
                         
                                        </div>
                                    <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                        
                                       <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav0-tab" data-bs-toggle="tab" data-bs-target="#nav0" type="button" role="tab" aria-controls="nav0" aria-selected="true">
                                               <div id="sub-img-0">
                                                </div>
                                            </button>

                                        </li>  
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav1-tab" data-bs-toggle="tab" data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1" aria-selected="false">
                                               <div id="sub-img-1">
                                                </div>
                                            </button>
                                             

                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav2-tab" data-bs-toggle="tab" data-bs-target="#nav2" type="button" role="tab" aria-controls="nav2" aria-selected="false">
                                       <div id="sub-img-2">
                                            </div>                                            
                                        </button>
                                          

                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav3-tab" data-bs-toggle="tab" data-bs-target="#nav3" type="button" role="tab" aria-controls="nav3" aria-selected="false">
                                            <div id="sub-img-3">
                                            </div>
                                            
                                            </button>

                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav4-tab" data-bs-toggle="tab" data-bs-target="#nav4" type="button" role="tab" aria-controls="nav4" aria-selected="false">
                                        <div id="sub-img-4">
                                        </div>
                                            </button>
                                       
                                        </li>
                                        </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-content">
                                    <h4><a href="product-details.html"><span id="product-name"></span></a></h4>
                                    <div class="product__review d-sm-flex">
                                        <div class="rating rating__shop mb-10 mr-30">
                                         <ul id="quick-view-list">
                                             <li class="star" id="star" data-product-id="" data-star="5" data-user="@user_id"><a href="javascript:void(0);"><i class="fal fa-star"></i></a></li>
                                             <li class="star" id="star" data-product-id="" data-star="4" data-user="@user_id"><a href="javascript:void(0);"><i class="fal fa-star"></i></a></li>
                                             <li class="star" id="star" data-product-id="" data-star="3" data-user="@user_id"><a href="javascript:void(0);"><i class="fal fa-star"></i></a></li>
                                            <li class="star" id="star" data-product-id=""  data-star="2" data-user="@user_id"><a href="javascript:void(0);"><i class="fal fa-star"></i></a></li>
                                            <li class="star" id="star" data-product-id=""  data-star="1" data-user="@user_id"><a href="javascript:void(0);"><i class="fal fa-star"></i></a></li>
                                        </ul>
                                        </div>
                                        <div class="product__add-review mb-15">
                                        <span id="review-value"></span>
                                        </div>
                                    </div>
                                    <div class="product__price">
                                        <span id="product-price"></span>
                                    </div>
                                    <div class="product__modal-des mt-20 mb-15">
                                        <ul>
                                            <li><a href="#"><i class="fas fa-circle"></i> Bass and Stereo Sound.</a></li>
                                            <li><a href="#"><i class="fas fa-circle"></i> Display with 3088 x 1440 pixels resolution.</a></li>
                                            <li><a href="#"><i class="fas fa-circle"></i> Memory, Storage & SIM: 12GB RAM, 256GB.</a></li>
                                            <li><a href="#"><i class="fas fa-circle"></i> Androi v10.0 Operating system.</a></li>
                                        </ul>
                                    </div>
                                    <div class="product__stock mb-20">
                                        <span class="mr-10">Còn:</span>
                                        <span id="product-quantity-value"></span>
                                    </div>
                                    <div class="product__modal-form">
                                        <form action="#">
                                        <div class="pro-quan-area d-lg-flex align-items-center">
                                            <div class="product-quantity mr-20 mb-25">
                                                <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                            </div>
                                            <div class="pro-cart-btn mb-25">
                                                <button class="cart-btn" type="submit">Thêm vào giỏ hàng</button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <div class="product__stock mb-30">
                                        <ul>
                                            <li><a href="#" id="link-category">
                                                <span class="cat mr-10">Loại sản phẩm:</span>
                                                <span id="product-category"></span></a>
                                            </li>
                              
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>
     document.addEventListener("DOMContentLoaded",()=>{

      document.addEventListener('show.bs.modal', function(event) 
{
     if(event.target.id=="productModalId")
     {
        const button = event.relatedTarget;
                
        const productName = button.getAttribute('data-product-name');
        
        const productPrice = button.getAttribute('data-product-price');
        
        const front_image = button.getAttribute('data-main-avatar');

        const category   = button.getAttribute('data-product-category');

        const quantity = button.getAttribute('data-product-quantity');
        
        for(let i=0;i<=4;i++)
        {   //var sub_img=document.getElementById(`sub-img-${i}`);
            const sub_img = document.querySelectorAll(`#sub-img-${i}`);
            if(button.hasAttribute(`data-img-${i}`))
            {
            var data_img=button.getAttribute(`data-img-${i}`);
            
         const wwwrootIndex = data_img.indexOf("wwwroot");


let relativePath = data_img;

if (wwwrootIndex !== -1) {

    relativePath = data_img.substring(wwwrootIndex + "wwwroot".length + 1);
}    
       var wwwrootPath='@Url.Content("~/")';
       
        relativePath=wwwrootPath+relativePath.replace(/\\/g, "/");
       sub_img.forEach((img,index)=>{
        if(index==0)
       {
        img.innerHTML = `<img src="${relativePath}" alt="sub_avatar"">`;
       }
       else
       {
        img.innerHTML = `<img src="${relativePath}" alt="sub_avatar" style="width:85px;height:85px">`;
       }
       });
            }
            else{
       sub_img.forEach(img=>{img.innerHTML = ``;});

            }
        }
         


       const count_review_value=button.getAttribute('data-count-review');
        
        const main_image = document.getElementById('sub-img-0');

        const cat_link=document.getElementById('link-category');

        const review_value= document.getElementById("review-value");


        url='@Url.Action("ProductsByCategory","Products",new{category_name="__id__"})';
    
        url=url.replace("__id__",category);

        cat_link.href=url;


         document.querySelectorAll("#quick-view-list .star").forEach((star,index)=>{
       star.setAttribute("data-product-id",button.getAttribute("data-product-id"));
   });

      review_value.textContent=`(${count_review_value} đánh giá)`; 

        document.getElementById('product-name').textContent = productName;
        
        document.getElementById('product-price').textContent = productPrice;

        document.getElementById('product-category').textContent = category;

        document.getElementById('product-quantity-value').textContent = quantity+ " sản phẩm";

        }
        });
});
    </script>

   
